.about {
  font-family: "AvenirBold", "AvenirDemiBold", "AvenirRegular";
  width: 100vw;

  &__title {
    margin: 10vw 5vw 7.5vw 5vw;
  }
  &__image {
    width: 90vw;
    height: 166px;
  }
  &__image-box {
    display: flex;
    justify-content: center;
  }
  &__text {
    font-family: "AvenirDemiBold";
    margin: 7.5vw 5vw 10vw 5vw;
    text-align: justify;
  }
  &__sign {
    font-family: AvenirDemiBold;
    margin: 0 5vw;
  }
  &__names {
    margin: 12.4vw 5vw 7.5vw 5vw;
    &-text {
      display: flex;
      flex-direction: column;
      margin: 0 5vw 12.4vw 5vw;

      &__right {
        font-family: AvenirRegular;
      }
      &__left {
        font-family: AvenirRegular;
      }
    }
  }
}

@include medium {
  .about {
    width: 100vw;

    &__title {
      margin: 5.2vw 3.1vw;
      font-size: 5vw;
    }
    &__image {
      width: 93.7vw;
      height: 362px;
    }
    &__text {
      font-size: 4vw;
      margin: 6vw 3.1vw;
    }
    &__sign {
      font-size: 2.5vw;
      margin: 0 3.1vw;
    }
    &__names {
      font-size: 3.5vw;
      margin: 7vw 3.1vw 2vw 3.1vw;
      &-text {
        flex-direction: row;
        margin: 2vw 3.1vw;
        &__left {
          margin-left: 3.1vw;
        }
      }
    }
  }
}
