$Black: #323232;

$Instock-blue:#004892;

$Brainflix-blue:#0095FF;

$White:#FFFFFF;

$Silver:#AFAFAF;

$Instock-blue-dark:#002F5F;

$Brainflix-blue:#0065AD;

$Mercury:#E1E1E1;

$Alabaster:#FAFAFA;

$Black-opacity: #323232;

