@font-face {
  src: url("../../sprint-one/assets/fonts/AvenirNextLTPro-Regular.otf");
  font-family: "AvenirRegular";
  font-style: normal;
}

@font-face {
  src: url("../../sprint-one/assets/fonts/AvenirNextLTPro-Demi.otf");
  font-family: "AvenirDemiBold";
  font-style: normal;
}

@font-face {
  src: url("../../sprint-one/assets/fonts/AvenirNextLTPro-Bold.otf");
  font-family: "AvenirBold";
}

@font-face {
  src: url("../../sprint-one/assets/fonts/Linotype\ -\ AvenirNextLTPro-Light.otf");
  font-family: "ProLight";
}

@font-face {
  src: url("../../sprint-one/assets/fonts/Linotype\ -\ Avenir\ Next\ LT\ Pro.ttf");
  font-family: "Pro";
}
