@font-face{
    src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf);
    font-family: "AvenirRegular";
    font-style:normal;
}

@font-face{
    src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf);
    font-family:"AvenirDemiBold";
    font-style:normal;
}

@font-face{
    src:url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf);
    font-family: "AvenirBold";
}