.footer {
  background-color: #323232;

  &__title {
    font-family: AvenirBold;
    color: $White;
    margin: 6.2vw 5vw;
    padding-top: 15.6vw;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
  }
  &__logo {
    display: none;
  }
  &__names {
    font-size: 3.4vw;
    margin: 0 5vw;
    color: $White;
    font-family: AvenirRegular;
  }
  &__names--padding {
    padding-bottom: 9.3vw;
    margin-left: 5vw;
  }
}

.icons {
  color: $Mercury;
  margin: 5vw;
}

@include medium {
  .footer {
    height: 65.1vw;
    display: flex;

    &__title {
      padding: 3vw 3vw 3vw 0vw;
      margin: 3.1vw;
      align-self: end;
    }
    &__icons {
      height: fit-content;
      margin: 2vw;
    }
    &__logo {
      display: inline-block;
      margin: 7vw 5vw;
    }
  }
}
