.hero__image {
  background-image: url(../assets/Images/unsplash.jpg);
  position: relative;
  height: 183px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__text {
  position: absolute;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 16px;
  color: $White;
  font-family: "AvenirBold";
  font-size: 20px;
}

@include medium {
  .hero__image {
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
  }

  .hero__text {
    margin: auto 2vw;
    font-size: 5.2vw;
    line-height: 1.4;
  }
}

@include large {
  .hero {
    &__image {
      height: 46.5vw;
    }
    &__text {
      font-size: 3.3vw;
      margin: 0 12.5vw;
    }
  }
}
