.nav-bar {
  width: 100vw;
  background-color: $Black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &--logo {
    width: 46.8vw;
    height: 4vh;
    margin: 0 auto;
    margin-top: 4.6vw;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 4.6vw;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $Mercury;
    font-size: 4vw;
    margin: 8.1vw;
    padding-bottom: 2.1vw;

    &:hover {
      color: $White;
      border-bottom: solid white;
    }
  }
}

@include medium {
  .nav-bar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 10.4vw;

    &--logo {
      width: 18.2vw;
      height: 5.2vw;
      margin: 2.6vw 3.1vw;
    }

    &__items {
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__link {
      padding-bottom: 3.4vw;
    }
  }
}

@include large {
  .nav-bar {
    width: 100vw;
    height: 5.5vh;
    background-color: $Black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &--logo {
      width: 10vw;
      height: 2vw;
      margin: 0 12.5vw;
    }
    &__link {
      font-size: 1.1vw;
      margin: 0 1.4vw;
    }
    &__items {
      margin: 0;
    }
  }
}
