/*media query for tablet*/
/* media query for high pixel density desktops */
@font-face {
  src: url("../../sprint-one/assets/fonts/AvenirNextLTPro-Regular.otf");
  font-family: "AvenirRegular";
  font-style: normal;
}

@font-face {
  src: url("../../sprint-one/assets/fonts/AvenirNextLTPro-Demi.otf");
  font-family: "AvenirDemiBold";
  font-style: normal;
}

@font-face {
  src: url("../../sprint-one/assets/fonts/AvenirNextLTPro-Bold.otf");
  font-family: "AvenirBold";
}

@font-face {
  src: url("../../sprint-one/assets/fonts/Linotype - AvenirNextLTPro-Light.otf");
  font-family: "ProLight";
}

@font-face {
  src: url("../../sprint-one/assets/fonts/Linotype - Avenir Next LT Pro.ttf");
  font-family: "Pro";
}

.nav-bar {
  width: 100vw;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-bar--logo {
  width: 46.8vw;
  height: 4vh;
  margin: 0 auto;
  margin-top: 4.6vw;
}

.nav-bar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 4.6vw;
  padding: 0;
}

.nav-bar__link {
  text-decoration: none;
  color: #E1E1E1;
  font-size: 4vw;
  margin: 8.1vw;
  padding-bottom: 3.4vw;
}

.nav-bar__link:hover {
  color: #FFFFFF;
  border-bottom: solid white;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 10.4vw;
  }
  .nav-bar--logo {
    width: 18.2vw;
    height: 5.2vw;
    margin: 2.6vw 3.1vw;
  }
  .nav-bar__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav-bar__link {
    padding-bottom: 3.4vw;
    font-size: 2vw;
    margin: 0 0 0 2vw;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-bar {
    width: 100vw;
    height: 5.5vh;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-bar--logo {
    width: 8vw;
    height: 2vw;
    margin: 0 3.8vw 0 12.5vw;
  }
  .nav-bar__link {
    font-size: 0.9vw;
    margin: 0 3.8vw 0 0;
    padding-bottom: 1.2vw;
  }
  .nav-bar__items {
    margin: 0;
  }
}

.hero__image {
  background-image: url(../assets/Images/unsplash.jpg);
  position: relative;
  height: 57.2vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__text {
  position: absolute;
  margin: 5vw;
  color: #FFFFFF;
  font-family: "AvenirBold";
  font-size: 5vw;
  line-height: 12vw;
}

@media only screen and (min-width: 768px) {
  .hero__image {
    width: 100vw;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__text {
    margin: auto 2vw;
    font-size: 5.2vw;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 1440px) {
  .hero__image {
    height: 46.5vw;
  }
  .hero__text {
    font-size: 3.1vw;
    margin: 0 12.5vw;
  }
}

.about {
  font-family: "AvenirBold", "AvenirDemiBold", "AvenirRegular";
  width: 100vw;
}

.about__title {
  margin: 10vw 5vw 7.5vw 5vw;
}

.about__image {
  width: 90vw;
  height: 166px;
}

.about__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__text {
  font-family: "AvenirBold";
  margin: 7.5vw 5vw 10vw 5vw;
  text-align: justify;
}

.about__sign {
  font-family: AvenirDemiBold;
  margin: 0 5vw;
}

.about__names {
  margin: 12.4vw 5vw 7.5vw 5vw;
  font-size: 5vw;
}

.about__names-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5vw 12.4vw 5vw;
}

.about__names-text__right {
  font-family: AvenirRegular;
}

.about__names-text__left {
  font-family: AvenirRegular;
}

@media only screen and (min-width: 768px) {
  .about {
    width: 100vw;
  }
  .about__title {
    margin: 5.2vw 3.1vw;
    font-size: 5vw;
  }
  .about__image {
    width: 93.7vw;
    height: 362px;
  }
  .about__text {
    font-size: 3.5vw;
    font-family: AvenirBold;
    margin-bottom: 4.5vw;
  }
  .about__sign {
    font-size: 2.5vw;
    margin: 0 3.1vw;
  }
  .about__names {
    font-size: 3.5vw;
    margin: 7vw 3.1vw 2vw 3.1vw;
  }
  .about__names-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2vw 3.1vw;
  }
  .about__names-text__left {
    margin-left: 3.1vw;
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    width: 100vw;
  }
  .about__title {
    font-size: 3vw;
    margin: 3.3vw 12.5vw;
  }
  .about__image {
    width: 62.2vw;
    height: 31.25vw;
  }
  .about__text {
    margin: 3.3vw 24vw 2.7vw 19vw;
    font-size: 1.7vw;
  }
  .about__sign {
    font-size: 1.4vw;
    margin-left: 19vw;
  }
  .about__names {
    font-size: 1.7vw;
    margin-top: 2vw;
  }
  .about__musician {
    margin: 3.8vw 16vw 2.2vw 16vw;
  }
  .about__names-text__left {
    margin-left: 2.7vw;
  }
}

.gallery {
  background-color: #FAFAFA;
}

.gallery__title {
  font-family: AvenirBold;
  margin: 0 5vw 2.5vw 5vw;
  text-align: left;
  padding: 9.3vw 0 3.1vw 0;
}

.gallery__photos {
  width: 90vw;
  margin: 2.5vw 5vw;
}

.gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .gallery__title {
    font-size: 5vw;
    font-family: AvenirBold;
    padding: 6vw 3.1vw 3vw 0;
    margin: 0 5vw 2.5vw 3.1vw;
  }
  .gallery__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery__photos {
    width: 29vw;
    height: 16.4vw;
    margin: 1.55vw;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery__title {
    font-size: 3vw;
    padding: 5vw 0;
    margin: 0 12.5vw;
  }
  .gallery__photos {
    width: 23.8vw;
    height: 13.4vw;
  }
  .gallery__images {
    padding: 0 2.5vw 5vw 2.5vw;
  }
}

.footer {
  background-color: #323232;
}

.footer__title {
  font-family: AvenirBold;
  color: #FFFFFF;
  margin: 6.2vw 5vw;
  padding-top: 15.6vw;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__logo {
  display: none;
}

.footer__names {
  font-size: 3.4vw;
  margin: 0 5vw;
  color: #FFFFFF;
  font-family: AvenirRegular;
}

.footer__names--padding {
  padding-bottom: 9.3vw;
  margin-left: 5vw;
}

.icons {
  color: #E1E1E1;
  margin: 5vw;
}

@media only screen and (min-width: 768px) {
  .footer {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__title {
    padding: 3vw 3vw 3vw 0vw;
    margin: 2.9vw;
    margin-right: 0;
    font-size: 5vw;
  }
  .footer__icons {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__logo {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    margin: 1.2vw 0 0 3vw;
  }
  .footer__names {
    font-size: 1.6vw;
    padding: 1.1vw;
    margin: 0;
  }
  .footer__names--padding {
    padding: 2vw 2vw 5vw 2vw;
  }
  .footer__allnames {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1440px) {
  .footer__title {
    font-size: 3vw;
    padding-right: 2vw;
  }
  .footer__logo {
    width: 10vw;
    height: 13vw;
    margin-left: 40vw;
  }
  .footer__names {
    font-size: 0.9vw;
  }
  .footer__names--padding {
    margin-left: 9vw;
  }
  .footer__allnames {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 10vw;
  }
  .footer__head {
    margin-left: 8vw;
  }
  .icons {
    margin: 2vw 1vw;
  }
}

html,
body {
  font-family: "AvenirRegular", "AvenirBold", "AvenirDemiBold";
  color: #323232;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
* *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media only screen and (min-width: 1440px) {
  width: 100vw;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */