.footer {
  background-color: #323232;

  &__title {
    font-family: AvenirBold;
    color: $White;
    margin: 6.2vw 5vw;
    padding-top: 15.6vw;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 5vw;
  }
  &__logo {
    display: none;
  }
  &__names {
    font-size: 3.4vw;
    margin: 0 5vw;
    color: $White;
    font-family: AvenirRegular;

    &--mail {
      text-decoration: none;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__names--padding {
    padding-bottom: 9.3vw;
    margin-left: 5vw;
  }
}

.icons {
  color: $Mercury;
  margin: 5vw;
}

@include medium {
  .footer {
    width: 100vw;
    display: flex;
    flex-direction: column;

    &__head {
      display: flex;
    }

    &__title {
      padding: 3vw 3vw 3vw 2vw;
      margin: 2.9vw;
      margin-right: 0;
      font-size: 4.2vw;
    }
    &__icons {
      align-self: center;
      height: 6vw;
    }
    &__logo {
      display: inline-block;
      width: 12.5vw;
      height: 15vw;
      margin: 1.2vw 0 0 20vw;
    }
    &__names {
      font-size: 1.3vw;
      margin: 0;
      &--padding {
        padding: 5vw 2vw 5vw 4vw;
        font-size: 1.4vw;
      }
    }
    &__allnames {
      display: flex;
      justify-content: space-around;
    }
  }
}
.icons {
  margin: 2vw;
}

@include large {
  .footer {
    &__title {
      font-size: 3vw;
      margin-left: 1vw;
    }
    &__logo {
      width: 10vw;
      height: 10vw;
      margin: 2.3vw 0 0 43vw;
    }
    &__head {
      justify-content: flex-start;
    }
    &__icons {
      margin-left: 2.8vw;
    }
    &__allnames {
      justify-content: flex-start;
    }
    &__names {
      margin: 0 3.1vw;
      font-size: 1.1vw;
      margin-right: 0;
      &--padding {
        padding: 3vw;
        margin: 0;
      }
    }

    .icons {
      height: 1.3vw;
    }
  }
}

@include huge {
  .footer {
    &__head {
      height: 12vw;
      align-items: center;
    }
    &__title {
      font-size: 3vw;
      padding-right: 2vw;
    }
    &__logo {
      width: 8vw;
      height: 10vw;
      margin-top: 0;
    }
    &__icons {
      margin: 3vw 0 0 1.2vw;
    }
    &__names {
      font-size: 0.9vw;
      margin: 0 3.1vw;
      margin-right: 0;
      &--padding {
        margin: 0;
      }
    }
  }
  .icons {
    margin: 1vw;
  }
}
