.footer {
  background-color: #323232;

  &__title {
    font-family: AvenirBold;
    color: $White;
    margin: 6.2vw 5vw;
    padding-top: 15.6vw;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 5vw;
  }
  &__logo {
    display: none;
  }
  &__names {
    font-size: 3.4vw;
    margin: 0 5vw;
    color: $White;
    font-family: AvenirRegular;

    &--mail {
      text-decoration: none;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__names--padding {
    padding-bottom: 9.3vw;
    margin-left: 5vw;
  }
}

.icons {
  color: $Mercury;
  margin: 5vw;
}

@include medium {
  .footer {
    width: 100vw;
    display: flex;
    flex-direction: column;

    &__head {
      display: flex;
    }

    &__title {
      padding: 3vw 3vw 3vw 0vw;
      margin: 2.9vw;
      margin-right: 0;
      font-size: 5vw;
    }
    &__icons {
      align-self: center;
    }
    &__logo {
      display: inline-block;
      width: 15vw;
      height: 15vw;
      margin: 1.2vw 0 0 20vw;
    }
    &__names {
      font-size: 1.6vw;
      padding: 1.1vw;
      margin: 0;
      &--padding {
        padding: 2vw 2vw 5vw 2vw;
      }
    }
    &__allnames {
      display: flex;
      justify-content: center;
    }
  }
}
.icons {
  margin: 2vw;
}

@include large {
  .footer {
    &__title {
      font-size: 4vw;
      margin-left: 2vw;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &__logo {
      width: 13vw;
      height: 15vw;
      margin-left: 24vw;
    }
    &__icons {
      padding-top: 3vw;
      margin-left: 9vw;
    }
    &__names {
      font-size: 1.2vw;
      margin: 0 5vw;
      &--padding {
        margin-left: 1.3vw;
      }
    }
  }
}

@include huge {
  .footer {
    &__head {
      margin-left: 9vw;
    }
    &__title {
      font-size: 3vw;
      padding-right: 2vw;
    }
    &__logo {
      width: 10vw;
      height: 12vw;
      margin-left: 41vw;
    }
    &__icons {
      margin-left: 2vw;
      padding-top: 3vw;
    }
    &__names {
      font-size: 0.9vw;
      margin: 0;
      &--padding {
        margin-left: 9vw;
      }
    }
    &__allnames {
      justify-content: flex-start;
      margin-left: 10vw;
    }
  }
  .icons {
    margin: 2vw 1vw;
  }
}
