.nav-bar {
  width: 100vw;
  background-color: $Black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &--logo {
    width: 46.8vw;
    height: 4vh;
    margin: 0 auto;
    margin-top: 4.6vw;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__items li {
    width: 50vw;
    padding: 5vw;
    text-align: center;

    &:hover {
      border-bottom: solid white;
    }
    &:active {
      border-bottom: solid white;
    }
  }

  &__link {
    text-decoration: none;
    color: $Mercury;
    font-size: 4vw;
  }
}

@include medium {
  .nav-bar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 10.4vw;

    &--logo {
      width: 18.2vw;
      height: 5.2vw;
      margin: 2.6vw 3.1vw;
    }

    &__items {
      height: 10vw;
      flex-direction: row;
      margin: 0;
      justify-content: space-evenly;
    }
    &__items li {
      width: 20vw;
      padding: 4vw;
      // height: 5vw;
      // padding: 5.5vw;
    }
    &__link {
      padding-bottom: 3.4vw;
      font-size: 2vw;
      margin: 0 0 0 2vw;
    }
  }
}

@include large {
  .nav-bar {
    height: 5vw;
    &--logo {
      width: 8vw;
      height: 5vw;
      margin: 2vw;
    }
    &__link {
      font-size: 1.2vw;
      margin: 0;
      padding: 0;
    }
    &__items li {
      width: 13vw;
      height: 5vw;
      padding: 3.2vw;
    }
  }
  .nav-nav {
    height: 8.5vw;
  }
}

@include huge {
  .nav-bar {
    width: 100vw;
    height: 5.5vh;
    background-color: $Black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &--logo {
      width: 8vw;
      height: 2vw;
      margin: 0 3.8vw 0 12.5vw;
    }
    &__link {
      font-size: 0.9vw;
      margin: 0 auto;
      padding: 0;
    }
    &__items {
    }
    &__items li {
      padding: 4vw 2vw 2.5vw 2vw;
      width: 10vw;
      height: 5vw;
    }
  }
  .nav-nav {
    height: 9.5vw;
  }
}
