.main {
  &__image {
    background-image: url(../assets/Images/josep-molina.jpg);
    position: relative;
    height: 147.5vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__pre-title {
    font-family: AvenirBold;
    font-size: 5vw;
  }

  &__text {
    position: absolute;
    margin: 12vw 5vw;
    color: $White;
    font-family: "AvenirDemiBold";
    font-size: 11vw;
    line-height: 11vw;

    &--title {
      margin: 0;
    }
  }

  &__iframe {
    position: absolute;
    top: 85vw;

    width: 90vw;
    height: 12vh;
  }
}

.table__title {
  font-family: AvenirBold;
  margin: 0 5vw 2.5vw 5vw;
  text-align: left;
  padding: 9.3vw 0 3.1vw 0;
}
.table-mobile {
  width: 85vw;
  margin: 0 auto;
}

.tablet__div {
  display: none;
}
// .shows__tablet-top {
//   display: none;
// }
.class__mobile-date {
  display: flex;
  flex-direction: column;
  color: $Silver;
  font-family: AvenirDemiBold;
  font-size: 5vw;
  text-transform: uppercase;
  padding: 4vw 0;
}
.class__mobile-location {
  display: flex;
  flex-direction: column;
  color: $Silver;
  font-family: AvenirDemiBold;
  font-size: 5vw;
  text-transform: uppercase;
  padding: 4vw 0;
}
.class__mobile-place {
  display: flex;
  flex-direction: column;
  color: $Silver;
  font-family: AvenirDemiBold;
  font-size: 5vw;
  text-transform: uppercase;
  padding: 4vw 0;
}

.class {
  &__date {
    font-family: AvenirDemiBold;
  }

  &__button {
    background-color: $Black-opacity;
    border-radius: 2vw;
    color: white;
    padding: 4.6vw 10vw;
    font-size: 5vw;
    margin: 5vw 0;
    cursor: pointer;
    width: 85vw;
    text-align: center;
    &:hover {
      background-color: black;
    }
  }
}

.div-class {
  display: flex;
  flex-direction: column;
  margin: 5vw 0;
  border-bottom: solid 0.5vw $Mercury;
}

/*media query for 768px tablet*/

@include medium {
  .main {
    &__image {
      height: 87.2vw;
      width: 100vw;
    }
    &__text {
      margin: 0;
    }
    &__pre-title {
      margin: 7.5vw 3.1vw 2.2vw 3.1vw;
      font-size: 3.5vw;
    }

    &__text--title {
      font-size: 7.5vw;
      font-family: AvenirBold;
      margin: 0 3.1vw;
      display: inline-block;
      width: 75vw;
    }
    &__iframe {
      width: 50vw;
      height: 17vw;
      top: 56vw;
      margin-left: 3.1vw;
    }
  }

  .table__title {
    font-size: 5vw;
    font-family: AvenirBold;
    padding: 6vw 3.1vw 3vw 0;
    margin: 0 5vw 2.5vw 5vw;
  }

  .table-mobile {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
    font-size: 1.5vw;
  }

  .div-class {
    flex-direction: row;
    height: 11vw;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    border-bottom: solid 0.1vw $Mercury;
  }

  //title for tablet
  .tablet__div {
    color: #afafaf;
    font-family: AvenirDemiBold;
    font-size: 1.8vw;
    width: 55vw;

    display: flex;
    justify-content: space-between;
    margin: 2vw 5vw 2vw 6vw;
  }

  .class {
    &__mobile-date {
      display: none;
    }
    &__mobile-location {
      display: none;
    }
    &__mobile-place {
      display: none;
    }
    &__date {
      width: 9.8vw;
    }
    &__place {
      width: 28vw;
    }
    &__name {
      width: 24vw;
    }

    &__button {
      width: 20vw;
      padding: 2.5vw;
      border-radius: 0.5vw;
      font-size: 1.4vw;
    }
  }

  .table-mobile tbody {
    width: 100vw;
  }

  .tablet__class-venue {
    margin-right: 15vw;
  }
}

@include large {
  .main {
    &__image {
      height: 70vw;
    }
    &__pre-title {
      font-size: 2.5vw;
      margin: 13vw 5vw;
    }

    &__text--title {
      font-size: 5.5vw;
      line-height: 7vw;
      width: 50vw;
      margin-left: 5vw;
      top: 25vw;
    }
    &__iframe {
      width: 35vw;
      height: 15vw;
      top: 37vw;
      left: 55vw;
      margin-left: 5vw;
    }
  }

  .table-tables {
    display: flex;
  }

  .tablet__div {
    font-size: 1.4vw;
    margin: 6vw 0 2vw 0;
    justify-content: space-around;
  }

  .div-class {
    width: 75vw;
    height: 7vw;
    font-size: 1.3vw;
    margin: 0;
    justify-content: space-around;
    align-items: center;
  }

  .table__title {
    font-size: 4vw;
    height: 15vw;
    margin-right: 0;
  }

  .table-mobile {
  }

  .tablet__class {
    &-venue {
      margin-right: 20vw;
    }
    &-location {
      margin-right: 5vw;
    }
  }

  .class {
    &__button {
      width: 13vw;
      height: 4.5vw;
      padding: 0.8vw;
      border-radius: 0.3vw;
      font-size: 1.2vw;
    }

    &__place {
      width: 24.4vw;
    }
    &__name {
      width: 22vw;
    }
  }
}

@include huge {
  .main__image {
    height: 46.5vw;
  }
  .main__text--title {
    font-size: 3.5vw;
    width: 35vw;
    margin-left: 7vw;
    top: 17vw;
    line-height: 6vw;
  }

  .main__pre-title {
    font-size: 2vw;
    margin: 8vw 0 3vw 7vw;
  }
  .main__iframe {
    width: 28vw;
    height: 11vw;
    top: 26vw;
    left: 50vw;
    border-radius: 0.4vw;
    margin-left: 3.1vw;
  }

  .tablet__div {
    font-size: 1.1vw;
  }
  .tablet__class-location {
    margin-right: 18vw;
  }
  .tablet__class-venue {
    margin-right: 23vw;
  }
  .table-tables {
    display: flex;
    justify-content: flex-start;
  }

  .table__title {
    font-size: 3.2vw;
    padding: 2vw;
    height: 8vw;
    margin-right: 5vw;
    margin-left: 7vw;

    margin-top: 3vw;
  }

  .div-class {
    width: 57vw;
    height: 6vw;
    font-size: 0.9vw;
  }

  .class__button {
    width: 14vw;
    height: 4vw;
    border-radius: 0.3vw;
    font-size: 1vw;
  }
}
